header {
  background-color: lightskyblue;
  height: 9vh;
  overflow: hidden;
  display: flex;
}

.container-nav {
  display: flex;
  width: 100%;
  flex-direction: space-between;
  position: fixed;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.container-logo a {
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.container-logo a:hover {
  color: lightslategray;
  text-decoration: underline;
}

nav {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 1em;
}

nav a {
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: lightslategray;
  text-decoration: underline;
}

.container-secao-principal {
  background-color: darkgray;
  height: 91vh;
}

.container-secao-projetos {
  background-color: darkcyan;
  height: 91vh;
}
  
  /* Visualização Mobile */
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #000401;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    /* -- Deixa o Burger visível para a visualização Mobile -- */
    .burger {
      display: block;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .linha1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .linha2 {
    opacity: 0;
  }
  .toggle .linha3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  