:root {
  --frame-background: #000401;
  --frame-background2: #04151F;
  --texto-01: #F3F3F3;
  --texto-02: #0076C1;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--frame-background);
  height: 9vh;
  position: fixed;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

.container__logo {
  width: 40%;
  display: flex;
  overflow: hidden;
}

/* -- Burger para o menu Mobile -- */
.container__burguer {
  cursor: pointer;
  width: 60%;
  background-color: violet;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.container__burguer div {
  width: 30px;
  height: 4px;
  background-color: var(--texto-01);
  margin: 3px 0;
  transition: all 0.3s ease;  
}


/* -- Deixa a Navbar de Links invisível para mobile-- */
.container__links {
  visibility: hidden;
  display: none;
}



@media screen and (min-width: 768px){

.container__burguer {
  visibility: hidden;
  display: none;
}

.container__links {
  visibility: unset;
}

.container__links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container__links ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container__links li {
  display: inline-block;
}
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5em;
}

a:hover {
  text-decoration: underline darkslategray;
  color: dimgray;
}



/* -- SEÇÕES -- */

.container__section__home, .container__section__projetos,
.container__section__habilidades, .container__section__sobre,
.container__section__contato {
  height: 91vh;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.container__section__home {
  background-color: var(--frame-background);
  color: var(--texto-01);
}

.container__section__projetos {
  background-color: var(--frame-background2);
  color: var(--texto-01);
}

.container__section__habilidades {
  background-color: var(--frame-background);
  color: var(--texto-01);
}

.container__section__sobre {
  background-color: var(--frame-background2);
  color: var(--texto-01);
}

.container__section__contato {
  background-color: var(--frame-background);
  color: var(--texto-01);
}