.container__projetos--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65%;
}

.projetos--titulo {
  padding-top: 3rem;
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: bold;
  padding: 2rem 0;
  color: var(--texto-01);
}

.projetos--texto {
  text-align: center;
  padding: 1rem 0;
  color: var(--texto-01);
}

.imagem--card {
  display: block;
  border-radius: 1.2rem;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
}

.projetos--imagem {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3rem;
  position: relative;
}


/* Adiciona o overlay nas imagens do Card */

.container--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--frame-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
}

.projetos--imagem:hover .container--overlay {
  opacity: 0.9;
}

.overlay--texto {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

.overlay--texto a {
    text-decoration: none;
    color: var(--texto-01);
}