.container__section--projetos--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.projetos--imagem {
    background: url('/images/projetos/portfolio-antigo.png') center / contain no-repeat;
    height: 100%;
    width: 100%;
}

.projetos--titulo {
    font-size: 1.25rem;
    text-decoration: underline;
    font-weight: bold;
}

.projetos--texto {
    text-align: center;
}