.container__section__projetos{
  background-color: var(--frame-background2);
  color: var(--texto-01);
  height: fit-content;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.section__projetos--titulo {
  color: var(--texto-02);
  align-items: center;
  display: flex;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  width: 100%;
  height: 25%;
  justify-content: left;
  text-align: start;
  padding: 2rem 0;
}