.container__habilidades--icones {
  align-items: center;
  background-color: var(--texto-01);
  border-radius: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  height: 35%;
  justify-content: space-evenly;
  width: 100%;
}

.habilidades--icone-google {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/78e8e63fd3770f15100a92a724b1009c5d6cb1c4/images/icones/icone-google.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  display: flex;
  height: 35%;
  width: 21%;
}

.habilidades--icone-stack-overflow {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/ee46ef51cb979fbf7185011ea57fffaecf1c574d/images/icones/icone-stack-overflow.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  height: 35%;
  width: 21%;
}

.habilidades--icone-html5 {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/5c931fe794c00e3d296688223473e8f70668da09/images/icones/icone-html5.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  height: 35%;
  width: 21%;
}

.habilidades--icone-css3 {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/515f610acd95aa34bd48a9ee560c11ad3434919d/images/icones/icone-css3.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  height: 35%;
  width: 21%;
}

.habilidades--icone-javascript {
  background-image: url(/images/icones/icone-javascript.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  height: 35%;
  width: 21%;
}

.habilidades--icone-github {
  background-image: url(/images/icones/icone-github.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  width: 21%;
}

.habilidades--icone-figma {
  background-image: url(/images/icones/icone-figma.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  height: 35%;
  width: 21%;
}

.habilidades--icone-git {
  background-image: url(/images/icones/icone-git.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
  height: 35%;
  width: 21%;
}

/* Hoover dos Icones */
.habilidades--icone-google:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-stack-overflow:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-html5:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-css3:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-javascript:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-github:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-figma:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.habilidades--icone-git:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}
