@media screen and (min-width: 1024px) {
    .container__section__habilidades {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .habilidades--texto {
        width: 50%;
        display: flex;
        align-self: end;
        text-align: left;
    }

    .container__habilidades--icones {
        width: 50%;
        margin-bottom: 3rem;
    }
}