.container__habilidades--icones {
  background-color: var(--texto-01);
  border-radius: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 35%;
}

.habilidades--icone-google {
  display: flex;
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-google.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

.habilidades--icone-stack-overflow {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-stack-overflow.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

.habilidades--icone-html5 {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-html5.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

.habilidades--icone-css3 {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-css3.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

.habilidades--icone-javascript {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-javascript.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

.habilidades--icone-github {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-github.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.habilidades--icone-figma {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-figma.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

.habilidades--icone-git {
  width: 21%;
  height: 35%;
  background-image: url(/images/icones/icone-git.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: unset;
}

/* Hoover dos Icones */
.habilidades--icone-google:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-stack-overflow:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-html5:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-css3:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-javascript:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-github:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-figma:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}

.habilidades--icone-git:hover {
  transition: 1.5s;
  border-radius: 1.2rem;
  background-color: var(--frame-background2);
}
