.container__contato--redes {
  align-items: center;
  background-color: var(--texto-01);
  border-radius: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  height: 35%;
  justify-content: space-evenly;
  padding: 2rem 0;
  width: 100%;
}

.contato--redes--texto {
  align-items: center;
  color: var(--texto-02);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  letter-spacing: 0.1rem;
  padding: 1rem 0 2rem 0;
  width: 100%;
}

.container__contato--redes a {
  padding: 2rem 0;
}

.contato--icone-github {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/1995f4976b92e541575ae6ae13c3ea524aa04f2a/images/icones/icone-github.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  width: 15%;
}

.contato--icone-linkedin {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/1995f4976b92e541575ae6ae13c3ea524aa04f2a/images/icones/icone-linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  width: 15%;
}

.contato--icone-twitter {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/1995f4976b92e541575ae6ae13c3ea524aa04f2a/images/icones/icone-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  width: 15%;
}

.contato--icone-youtube {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/1995f4976b92e541575ae6ae13c3ea524aa04f2a/images/icones/icone-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  width: 15%;
}

.contato--icone-instagram {
  background-image: url(https://raw.githubusercontent.com/1matheusflorencio/Pessoal-Portfolio/1995f4976b92e541575ae6ae13c3ea524aa04f2a/images/icones/icone-instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  width: 15%;
}

/* Hoover dos Icones */
.contato--icone-github:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.contato--icone-linkedin:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.contato--icone-twitter:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.contato--icone-youtube:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}

.contato--icone-instagram:hover {
  background-color: var(--frame-background2);
  border-radius: 1.2rem;
  transition: 1.5s;
}
