.container__section__contato {
  background-color: var(--frame-background);
  color: var(--texto-01);
  height: fit-content;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.contato--titulo {
  align-items: center;
  color: var(--texto-02);
  display: flex;
  font-size: 2rem;
  height: 25%;
  justify-content: left;
  letter-spacing: 0.15rem;
  padding: 2rem 0;
  text-align: start;
  width: 100%;
}

.contato--texto {
  align-items: center;
  color: var(--texto-01);
  display: flex;
  font-size: 1.3rem;
  height: 25%;
  justify-content: center;
  letter-spacing: 0.1rem;
  padding: 2rem 0 3rem 0;
  text-align: center;
  width: 100%;
}
