@media screen and (min-width: 1024px) {
  .container__section__contato {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }
  .contato--titulo {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contato--texto {
    width: 50%;
    align-self: center;
    text-align: right;
    font-size: 1.5rem;
    letter-spacing: 0.105rem;
  }
  .container__contato--redes {
    width: 45%;
  }

  .container__contato--email {
    width: 90%;
    flex-direction: row-reverse;
  }

  .container__contato__icone--email {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icone--email {
    width: 50%;
    height: 10%;
    margin: 0;
  }

  .contato__email--texto {
    width: 60%;
  }

  .contato__email--formulario {
    width: 60%;
  }
  .email--botao {
    display: unset;
    align-self: center;
    background-color: var(--texto-02);
    border-color: var(--texto-02);
    border-radius: .5rem;
    color: var(--texto-01);
    font-size: 1rem;
    height: 2.5rem;
    width: 8rem;
  }

.email--botao--form {
  display: none;
}
}
