.container__contato--email {
    background-color: darkolivegreen;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icone--email {
    padding: 2rem 0;
    width: 100%;
    height: 35%;
    background-image: url(/images/icones/icone-email.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.contato__email--texto {
    text-align: center;
}

.contato__email--formulario {
    padding: 2rem 1rem;
    background-color: darkorange;
    display: flex;
    flex-direction: column;
}