@media screen and (min-width: 768px) {
  .container__section__contato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
  .contato--titulo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .contato--texto {
    align-self: center;
    font-size: 1.2rem;
    letter-spacing: 0.105rem;
    text-align: right;
    width: 50%;
  }
  .container__contato--redes {
    width: 45%;
  }

  .container__contato--email {
    flex-direction: row-reverse;
    width: 90%;
  }

  .container__contato__icone--email {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  .icone--email {
    height: 10%;
    margin: 0;
    width: 50%;
  }

  .contato__email--texto {
    width: 60%;
  }

  .contato__email--formulario {
    width: 60%;
  }
  .email--botao {
    align-self: center;
    background-color: var(--texto-02);
    border-color: var(--texto-02);
    border-radius: 0.5rem;
    color: var(--texto-01);
    display: unset;
    font-size: 1rem;
    height: 2.5rem;
    width: 8rem;
  }

  .email--botao--form {
    display: none;
  }
}


@media screen and (min-width: 1024px) {
  .contato--titulo {
    font-size: 3rem;
  }

  .contato--texto {
    font: 1.5rem;
  }
}