@media screen and (min-width: 1024px) {
  .container__section__contato {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }
  .contato--titulo {
    margin-bottom: 2rem;
  }

  .contato--texto {
    width: 50%;
    align-self: center;
    text-align: right;
  }
  .container__contato--redes {
    width: 45%;
  }

  .container__contato--email {
    width: 90%;
    flex-direction: row-reverse;
  }

  .container__contato__icone--email {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icone--email {
    width: 50%;
    height: 10%;
    margin: 0;
  }

  .contato__email--texto {
    width: 60%;
  }

  .contato__email--formulario {
    width: 60%;
  }
}
