@media screen and (min-width: 1024px) {
  .container__section__contato {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }
  .contato--titulo {
    margin-bottom: 2rem;
  }

  .contato--texto {
    width: 45%;
    align-self: center;
    text-align: right;
  }
  .container__contato--redes {
    width: 50%;
  }

  .container__contato--email {
    height: 50%;
    width: 80%;
  }
}
