@media screen and (min-width: 1024px) {
  .container__section__contato {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem;
  }
  .contato--titulo {
    margin-bottom: 2rem;
  }

  .contato--texto {
    width: 50%;
    align-self: center;
    text-align: right;
  }
  .container__contato--redes {
    width: 45%;
  }

  .container__contato--email {
    flex-direction: row;
    width: 90%;
    background-color: darkgray;
  }

  .icone--email {
    width: 20%;
    background-color: darkorange;
  }

  .contato__email--texto {
    width: 20%;
    background-color: darkkhaki;
  }

  .contato__email--formulario {
    width: 60%;
    background-color: darkmagenta;
  }
}
