.container__section__contato {
  background-color: var(--frame-background);
  color: var(--texto-01);
  height: fit-content;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.contato--titulo {
  color: var(--texto-02);
  align-items: center;
  display: flex;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  width: 100%;
  height: 25%;
  justify-content: left;
  text-align: start;
  color: var(--texto-02);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background-color: darkseagreen;
  padding: 2rem 0;
}

.contato--texto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
  text-align: center;
  color: var(--texto-01);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  background-color: darkred;
  padding: 2rem 0 3rem 0;
}
