.container__links {
    position: absolute;
    right: 0;
    top: 9vh;
    height: 91vh;
    width: 60%;
    background-color: var(--frame-background);
    transform: translateX(100%);
    transition: transform 0.5s easi-in;
  }
  
  .container__links ul {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .container__links li {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .container__links a {
    padding: 1rem;
  }

/* --   Animação da navbar do Burguer   --*/
  .nav-active {
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
  }
  
  .toggle .linha1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .linha2{
    opacity: 0;
  }
  .toggle .linha3{
    transform: rotate(45deg) translate(-5px,-6px);
  }