.container__burguer {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.container__burguer div {
  background-color: var(--texto-01);
  margin: 3px 0;
  transition: all 0.3s ease;
  height: 0.15rem;
  width: 2rem;
}
