.container__logo {
  align-items: center;
  display: flex;
  width: 60%;
}

.logo {
  background-image: url(./images/logo/logo-matheusflorencio.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 9vh;
  width: 100%;
}
