.container__links {
  background-color: var(--frame-background);
  height: 91vh;
  position: absolute;
  right: 0;
  top: 9vh;
  transition: transform 0.5s easi-in;
  transform: translateX(100%);
  width: 60%;
}

.container__links ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
}

.container__links li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 100%;
}

.container__links a {
  padding: 1rem;
}

/* --   Animação da navbar do Burguer   --*/
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .linha1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .linha2 {
  opacity: 0;
}

.toggle .linha3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
