header {
  align-items: center;
  background-color: var(--frame-background);
  display: flex;
  height: 9vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header a {
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: dimgray;
  text-decoration: underline darkslategray;
}
