@media screen and (min-width: 1024px) {
  .container__projetos--card {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .container__projetos--titulo--texto {
    background-color: darkgrey;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projetos--titulo {
    background-color: darkkhaki;
    width: 100%;
    height: 35%;
  }

  .projetos--texto {
    background-color: darkmagenta;
    height: 50%;
    align-content: flex-end;
    width: 100%;
  }

  .projetos--imagem {
    align-self: center;
    width: 50%;
    margin-bottom: 0;
  }
}
