@media screen and (min-width: 1024px) {
    .container__projetos--card {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    .projetos--titulo {
        width: 50%;
    }

    .projetos--texto {
        width: 50%;
    }
      
    .projetos--imagem {
        width: 50%;
    }
}