.container__projetos--card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projetos--titulo {
  color: var(--texto-01);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
  text-align: center;
  text-decoration: underline;
}

.projetos--texto {
  color: var(--texto-01);
  padding-bottom: 1rem;
  text-align: center;
}

.projetos--imagem {
  margin-bottom: 3rem;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.imagem--card {
  border-radius: 1.2rem;
  max-height: 100%;
  max-width: 100%;
}

/* Adiciona o overlay nas imagens do Card */

.container--overlay {
  align-items: center;
  background-color: var(--frame-background);
  bottom: 0;
  border-radius: 1.2rem;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 0.5s ease;
  top: 0;
  width: 100%;
}

.projetos--imagem:hover .container--overlay {
  opacity: 0.9;
}

.overlay--texto {
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
}

.overlay--texto a {
  color: var(--texto-01);
  text-decoration: none;
}

.overlay--texto a:hover {
  font-size: 1.5rem;
  transition: .80s;
}
