@media screen and (min-width: 1024px) {
  .container__projetos--card {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .card--esquerda {
    flex-direction: row-reverse;
  }

  .container__projetos--titulo--texto {
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
  }

  .projetos--titulo {
    width: 100%;
    height: 35%;
    padding: 0;
    font-size: 2rem;
    letter-spacing: .10rem;
  }

  .projetos--texto {
    height: 50%;
    text-align: right;
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: .10rem;
  }

  .texto--esquerda {
    text-align: left;
    padding-left: 2rem;
  }

  .projetos--imagem {
    align-self: center;
    width: 50%;
    margin-bottom: 0;
  }

}
