@media screen and (min-width: 1024px) {
  .container__section__sobre {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .sobre--texto {
    height: 80%;
    width: 50%;
    text-align: right;
  }

  .container__sobre--imagem {
    height: 80%;
    width: 50%;
  }
}
