@media screen and (min-width: 768px) {
    .container__section__sobre {
      background-color: darkgreen;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 2rem;
    }

    .sobre--titulo {
      font-size: 2.5rem;
    }
  
    .sobre--texto {
      height: 80%;
      text-align: right;
      width: 50%;
    }
  
    .container__sobre--imagem {
      height: 80%;
      width: 50%;
    }
}

@media screen and (min-width: 1024px) {
  .container__section__sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .sobre--titulo {
    font-size: 3rem;
  }

  .sobre--texto {
    height: 80%;
    text-align: right;
    width: 50%;
  }

  .container__sobre--imagem {
    height: 80%;
    width: 50%;
  }
}
