.container__section__sobre {
  background-color: var(--frame-background2);
  color: var(--texto-01);
  height: 91vh;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.sobre--titulo {
  align-items: center;
  color: var(--texto-02);
  display: flex;
  font-size: 3rem;
  height: 15%;
  justify-content: left;
  text-align: start;
  width: 100%;
}

.sobre--texto {
  align-items: center;
  color: var(--texto-01);
  display: flex;
  font-size: 1.5rem;
  height: 35%;
  justify-content: center;
  letter-spacing: 0.05rem;
  text-align: center;
  width: 100%;
}

.container__sobre--imagem {
  background: url(/images/outros/AREmoji_20211012_233728_11320.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  margin-bottom: 2rem;
  width: 100%;
}
