@media screen and (min-width: 768px) {
  .container__section__home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 91vh;
  }

  .section__home--titulo {
    font-size: 2.5rem;
    width: 50%;
    margin-right: 50%;
    height: 50%;
    padding-top: 2rem;
  }

  .section__home--texto {
    width: 50%;
    height: 40%;
    font-size: 2rem;
    margin: 0;
  }

  .container__callToAction {
    width: 50%;
    padding-top: 5%;
    margin: 0;
  }

}

@media screen and (min-width: 1024px) {
}
