.container__section__home {
  height: 91vh;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.container__section__home {
  background-color: var(--frame-background);
  color: var(--texto-01);
}

.section__home--titulo {
  color: var(--texto-02);
  align-items: center;
  display: flex;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  width: 100%;
  height: 25%;
  justify-content: left;
  text-align: start;
}

.section__home--texto {
  color: var(--texto-01);
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 25%;
  margin-top: 10%;
  text-align: right;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}