.container__section__home {
  height: 91vh;
  padding: 9vh 10% 0 10%;
  text-align: justify;
}

.container__section__home {
  background-color: var(--frame-background);
  color: var(--texto-01);
}

.section__home--titulo {
  color: var(--texto-02);
  align-items: flex-start;
  display: flex;
  font-size: 2.5rem;
  width: 100%;
  height: 25%;
  text-align: start;
  background-color: darkcyan;
  margin-top: 10%;
}

.section__home--texto {
  background-color: dimgray;
  width: 100%;
  height: 25%;
  margin-top: 10%;
}