/* -- Criado para a visualização Desktop --*/
@media screen and (min-width: 1024px) {
  .container__burguer {
    display: none;
  }

  .container__links {
    align-items: center;
    display: flex;
    height: 9vh;
    position: relative;
    top: unset;
    transform: unset;
    width: 60%;
  }

  .container__links ul {
    flex-direction: row;
    height: unset;
    width: 100%;
  }

  .container__links li {
    cursor: unset;
    opacity: unset;
    width: unset;
  }

  .container__links a {
    padding: 0;
  }
}
